<app-header></app-header>
<!-- <div class="container-fluid my-5 embed-responsive embed-responsive-21by9">
  <video id='hls-example'  class="video-js vjs-default-skin embed-responsive-item"  controls>
<source type="application/x-mpegURL" [src]="tvlink">
</video>
</div> -->

<div class="container-fluid my-5 embed-responsive embed-responsive-21by9" >
  <video id='hls-example'  class="video-js vjs-default-skin embed-responsive-item"  controls>
<source type="application/x-mpegURL" src="https://starvijay-i.akamaihd.net/hls/live/569909/starvijay/master_2000.m3u8">
</video>
</div>
