<app-header></app-header>
<div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-6 my-4" *ngFor="let movie of movie | async;let i=index;">
     <div class="card" >
       <img class="card-img-top size" [src]="movie.url" alt="Card image" >
       <div class="card-body">
         <h4 class="card-title">{{movie.title}}</h4>
         <p class="card-text">{{movie.description}}</p>
         <a href="#" class="btn btn-primary px-5 mar" [routerLink]="['/view']" routerLinkActive="active">View</a>
       </div><!-- card body end-->
     </div><!--card end-->
     </div><!--col end-->
     </div><!--row end-->
     </div><!--container end-->