<app-header></app-header>
<div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-6 my-4" *ngFor="let movie of movie | async;let i=index;">
     <div class="card size1" [routerLink]="['/view']" routerLinkActive="active" (click)="load(movie.link)">
       <img class="card-img-top size" [src]="movie.url" alt="Card image" >
       <div class="card-body">
         <h4 class="card-title text-center">{{movie.title}}</h4>
       </div><!-- card body end-->
     </div><!--card end-->
     </div><!--col end-->
     </div><!--row end-->
     </div><!--container end-->